<% if flash[:error]%>
  <ul class="alert alert-danger">
    <li><%= flash[:error]%></li>
  </ul>
<%end%>

<% if flash[:success]%>
  <ul class = "alert alert-success">
    <li><%= flash[:success]%></li>
  </ul>
<% end %>

<div class="col-md-4 col-sm-offset-4">
<h1 class="text-center" style="color:#B22222">Login</h1>
<%= form_for :session, url: login_path do |f|%>
  <div class="form-group">
    <label >Email</label>
    <%= f.text_field :email, class: "form-control", placeholder: "email adress"%>
  </div>

  <div class="form-group">
    <label for="">Password</label>
    <%= f.text_field :password, class: "form-control", placeholder: "password"%>
  </div>
  <div class="text-center">
  <button type="submit" class="btn btn-primary ">Sigin</button>
  <a href="<%= new_user_path%>">create new user?</a>
  </div>

<%end%>

</div>
