<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


      <a class="navbar-brand" href="<%= login_path%>">HomeUser</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      <li><a href="">Actions</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">

        <% if @current_user %>
        <li ><a href="<%= edit_user_path(@current_user.id)  %>">  <%= @current_user.name %></a></li>

        <li class="active"><a href="<%= logout_path %>">Logout <span class="sr-only">(current)</span></a></li>
        <% else %>
        <li class="active"><a href="<%= login_path %>">Login <span class="sr-only">(current)</span></a></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- <html>
<head>


<link href="../assets/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<!--slider-->
<!-- <link href="../assets/slider.css" rel="stylesheet" type="text/css" media="all"/>
</head>
<body>
<div class="header">
    <div class="header-top">
        <div class="wrap">
                <div class="logo">
                    <a href="index.html"><img src="../assets/logo.png" alt=""></a>
                </div>
                <div class="search_box">
                <form>
                   <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"><input type="submit" value="">
                </form>
            </div>
            <div class="clear"></div>
        </div>
   </div>
    <div class="header-bottom">
         <div class="wrap">
             <div id='cssmenu'>
                <ul class=" navbar-nav">
                   <li class='active'><a href='<%=login_path %>'><span>Home</span></a></li>
          <% if @current_user && @current_user.is_admin %>
         <li><a href="#">Giáo viên</a></li>
                    <li><a href="<%= admin_dashboard_students_path %>">Học viên</a></li>
          <% else %>
         <% if @current_user && @current_user.is_teacher %>
         <li><a href="#">Khoá học</a></li>
         <% else %>
         <li><a href="#">Khoá học</a></li>
                    <li><a href="#">Lớp học đã ĐK</a></li>
         <% end %>
           <% end %>

                </ul>
       <ul class=" navbar-nav navbar-right">
         <% if @current_user %>
         <li><a style="font-weight: bold"><%= @current_user.name %></a></li>
         <li class="last login"><a href="<%= logout_path %>">Logout</a></li>
         <% else %>
         <li class="last login"><a href="<%= login_path %>">Login</a></li>
         <% end %>
       </ul>
       <div class="clear"></div>
              </div>
         </div>
   </div>
</div> --> -->
